---
---

@import "{{ site.theme }}";

.page-header {
  display: none;
}

body {
  background-color: #08071d;
  color: #b6cacf;
}

.main-content h1 {
    color: #d8dfec;
}

.main-content h2 {
    color: #becfef;
}

.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #6288d2;
}
